<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               My name is Minna, and I have a degree in Computer Science from Carleton University, Ottawa, Canada. I officially graduated in February of 2021. Since then I have been working on various side projects and polishing my skills, as well as learning new ones. For the past few months I have been learning React, and have built a couple simple web apps just for practice. You can find the code on my github, and snapshots in the projects section.
            </p>

            <p class="paragraph-text justify-text">
                A little more about me: I am a UAE born and raised Egyptian, and I have been in Canada for 5 years. 
            </p>
          
        </div>
    </section>
</div>
