<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               Hi there, i'm Minna. I have a degree in Computer Science from Carleton University in February of 2021. Since then I have been working on various side projects and polishing my skills, as well as learning new ones ranging from UI/UX design to Data analysis and manipulation. For the past few months I have been learning React, and have built a couple simple web apps just for practice. You can find the code on my github, and snapshots in the projects section.
            </p>

            <p class="paragraph-text justify-text">
               In December of 2020, I took up a UI/UX design course on Udacity because I was super interested in the topic. I studied Computer science in university, I took many courses that covered the fundementals as well as alot of theoretical stuff. The curriculum did not cover much in the ways of design however, so I decided to dive deeper on my own. I have since done a couple projects as well as redesign the UI of an old project I did in school. This website acts as my portfolio - and it is a work in progress!
            </p>
          
        </div>
    </section>
</div>
